# Xcode
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
build/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml

# API Keys & Secrets
AppConstants.swift